h1{
    color:black
}

a:hover { text-decoration: none; }

.pagination {
    margin: 0 auto;
}

.pagination span {
    font-size: 2em;
    margin-right: 10px;
}

.page-number {
    color: #0e82e0;
    padding: 5px;
    text-decoration: none;
}

.current-page-number {
    color: #666
}