<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>News Feed</title>
</head>

<body class="d-flex flex-column">
    <header>
        <nav class="container">
        <div class="row">
            <div class="col text-center">
            <br>
            <a href = "{{ url_for('index') }}">
            <h1>Today's Emerging Tech News</h1>
            </a>
            <br>
            </div>
        </div>
        </nav>
    </header>
<!-- 
    <p>Tags: <a href = "">All</a>&emsp;<a href = "">AI</a>&emsp;<a href = "">Blockchain</a>
    </p> -->

    <main class = "container flex-grow-1">
        <div class = "row">
            <div class = "col">
                {% for article in pagination.items %}
                <section class = "card mb-3">
                    <div class = "col-md-10">
                        <div class = "card-body ml-3">
                            <a href = "{{ article.link }}">
                                <h3 class = "card-title">{{ article.title }}</h3>
                            </a>
                            <p class = "card-text">{{ article.pub_date }}</p>
                            <p class = "card-text">{{ article.description }}</p>
                            <p class = "card-text">Tags: {{ article.tag }}</p>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>
    </main>

    <div class=pagination>
        {% if pagination.has_prev %}
        <span>
            <a class='page-number' href="{{ url_for('index', page=pagination.prev_num) }}">
                {{ '<<<' }}
            </a>
        </span>
        {% endif %}

        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <span>
                        <a class='page-number'
                            href="{{ url_for('index', page=page) }}">
                        {{ page }}
                        </a>
                    </span>
                {% else %}
                    <span class='current-page-number'>{{ page }}</span>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
        
        {% if pagination.has_next %}
        <span>
            <a class='page-number' href="{{ url_for('index', page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        </span>
        {% endif %}

    </div>
</body>
</html>

